@font-face {
  font-family: "Avenir Bold";
  src: url("../fonts/avenirnext-bold.woff") format("woff");
}
@font-face {
  font-family: "Avenir Medium";
  src: url("../fonts/avenirnext-medium.woff") format("woff");
}
@font-face {
  font-family: "Avenir Regular";
  src: url("../fonts/avenirnext-regular.woff") format("woff");
}
@font-face {
  font-family: "Georgia Bold";
  src: url("../fonts/georgia-bold.woff") format("woff");
}
@font-face {
  font-family: "Georgia Regular";
  src: url("../fonts/georgia-regular.woff") format("woff");
}
@font-face {
  font-family: "Montserrat Semibold";
  src: url("../fonts/montserrat-semibold.woff") format("woff");
}
.secondary-color {
  color: #F5A623;
}

.btn {
  background: #F5A623;
  padding: 6px 40px;
  font-family: "Montserrat Semibold", sans-serif;
  font-size: 3vh;
}

.quiz-btn {
  width: 100%;
  padding: 10px 40px;
}

.quiz-btn:hover {
  background: black;
}

html, body {
  margin: 0;
  padding: 0;
  background: #3C76B9;
  color: white;
}

h1 {
  font-family: "Avenir Bold", sans-serif;
}

.mt2vh {
  margin-top: 2vh;
}

.mt5vh {
  margin-top: 5vh;
}

.mt10vh {
  margin-top: 10vh;
}

.mt15vh {
  margin-top: 15vh;
}

.col-md-4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.col-md-6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.img-div {
  margin: 0 24%;
  margin-top: 20vh;
}

.select-img-logo {
  width: 180px;
}

.card {
  border: none;
}

.card-img-top {
  border: 11px solid #F5A623;
}

.card-body {
  background: #3C76B9;
}

.subject-card-body {
  background: #F5A623;
}

.bottom-bar {
  position: absolute;
  bottom: 0px;
}

a {
  color: white;
}

a h2 {
  color: white;
}

.large-text {
  font-size: 10vh;
}

.text-black {
  color: #3C76B9;
}

hr {
  background: white;
  border: 5px solid white;
}

.border-bottom {
  border-bottom: 1px solid white;
}

.border-right {
  border-right: 1px solid white;
}

.main {
  background: #3C76B9;
  width: 90%;
  float: right;
  color: white;
  height: 100vh;
}
.main .main-content > a h1 {
  font-size: 12vh;
  line-height: 1.3;
}

.main-content {
  margin: 12vh;
}
.main-content :nth-child(1) h1 {
  padding-left: 0px;
}
.main-content :nth-child(2) h1 {
  padding-left: 40px;
}
.main-content :nth-child(3) h1 {
  padding-left: 80px;
}

.tab-bar {
  display: none;
}

.sidebar {
  position: fixed;
  float: left;
  height: 100%;
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.sidebar > a h1 {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  text-align: center;
  background: #3C76B9;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sidebar > a:hover h1 {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  text-align: center;
  background: linear-gradient(to right, #3023AE 0%, #B4EC51 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sidebar > a p {
  text-align: center;
  justify-content: flex-start;
  margin-right: auto;
}

nav {
  padding: 28px 19px;
  display: flex;
}

.contact {
  margin-left: auto;
}

.options-r {
  text-align: right;
}

.options-l {
  text-align: left;
}

@media only screen and (max-width: 787px) {
  .options-r {
    text-align: center;
  }

  .options-l {
    text-align: center;
  }
}
@media only screen and (max-width: 450px) {
  .sidebar {
    display: none;
  }

  .main {
    width: 100%;
    background: white;
  }
  .main .main-content > a h1 {
    background: linear-gradient(to right, #3023AE 0%, #B4EC51 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 6vh;
  }

  .tab-bar {
    display: flex;
    background: #3C76B9;
    position: fixed;
    bottom: 0;
    height: 63;
    left: 0;
    right: 0;
    justify-content: space-around;
    align-content: center;
    margin: auto;
  }
  .tab-bar a {
    margin: auto;
  }
  .tab-bar h1 {
    margin: auto;
    font-size: 26;
    flex: 1;
  }

  .main-content {
    margin: auto 20px;
  }
  .main-content :nth-child(1) h1 {
    padding-left: 0px;
  }
  .main-content :nth-child(2) h1 {
    padding-left: 0px;
  }
  .main-content :nth-child(3) h1 {
    padding-left: 0px;
  }
}
.grow:hover {
  transform: scale(1.5);
}

/* ----------------------------------------------
 * Generated by Animista on 2019-1-12 10:0:2
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
.scale-up-center {
  -webkit-animation: scale-up-center 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
  animation: scale-up-center 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2019-1-12 10:30:4
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.5s both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.5s both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

/*# sourceMappingURL=basic.css.map */
